/* Base styles */
.container {
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 1rem;
  }
  
  .login-box {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 8px;
    border-top: 4px solid #38a169;
    background-color: #ffffff;
    max-width: 400px;
    width: 100%;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: #2d3748;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  
  .input {
    border: 1px solid #cbd5e0;
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
  }
  
  .input:focus {
    border-color: #38a169;
    box-shadow: 0 0 0 1px #38a169;
  }
  
  .button {
    background-color: #38a169;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    padding: 0.75rem;
    border-radius: 8px;
    transition: background-color 0.2s;
    text-align: center;
  }
  
  .button:hover {
    background-color: #2f855a;
  }
  
  .button:disabled {
    background-color: #a0aec0;
    cursor: not-allowed;
  }
  
  .error-message {
    background-color: #e53e3e;
    color: #ffffff;
    font-size: 0.875rem;
    padding: 0.5rem;
    border-radius: 4px;
    margin-top: 0.5rem;
  }
  
  .link {
    font-size: 0.875rem;
    color: #4a5568;
    text-align: right;
    margin-top: 1rem;
    text-decoration: none;
  }
  
  .link:hover {
    color: #38a169;
  }
  
  /* Media Queries for Mobile Responsiveness */
  @media (max-width: 768px) {
    .login-box {
        width: 24rem;
      max-width: 100%; /* Full width for very small screens */
    }
  
    .title {
      font-size: 1.25rem; /* Slightly smaller title */
    }
  
    .input,
    .button {
      font-size: 0.9rem; /* Smaller font size for inputs and buttons */
      padding: 0.5rem; /* Reduce padding */
    }
  }
  
  @media (max-width: 480px) {
    .login-box {
        width: 20rem;
      max-width: 100%; /* Full width for very small screens */
    }
  
    .title {
      font-size: 1.1rem;
    }
  
    .form {
      gap: 0.75rem; /* Reduce gap between inputs */
    }
  
    .input,
    .button {
      font-size: 0.85rem;
      padding: 0.4rem;
    }
  
    .error-message {
      font-size: 0.8rem;
    }
  }
  