.sidebar {
    margin-top: 4.5rem;
    width: 15rem; /* Adjust width as needed */
    max-width: 12rem; /* Optional: restrict maximum width */
    padding: 2rem; /* Padding inside the sidebar */
    position: absolute; /* Sidebar scrolls with the page */
    top: 0; /* Align the sidebar to the top */
    left: 0; /* Align the sidebar to the left */
    border-right: 1px solid #ddd; /* Optional: visual border */
    min-height: 100%; /* Ensures full height relative to the parent */
    background-color:white;
    color: black;
  }
  .headersection{
    position: fixed;
    max-width: 1000vh;
    width: 100%;
  }




  

  .innerdisplay {
    margin-left: 12.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    flex: 1; /* Take remaining space */
    padding: 20px; /* Padding around the content */
    background-color: #ffffff; /* Background color for the content area */
    overflow-y: auto; /* Allow scrolling if content overflows */
    display: flex;
    flex-direction: column;
    color: black;
}

.container {
    display: flex; /* Use flexbox for layout */
    flex-direction: column;
    min-height: 100%;
}
.headersec{
    position: relative;
  }

/* SectionPage.module.css */
.pageContainer {
  /* Set the entire page's background to white */
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the content horizontally */
}

.contentContainer{
  height: 100%;
  position: relative;
}

.flexContainer {
  display: flex;               /* Enables flexbox layout */
  align-items: center;        /* Centers items vertically */
  gap: 8px;                   /* Adds space between the icon and text */
}


.sidebar h1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}


.sidebar li {
  margin: 10px 0;
  font-size: 1rem;
  color: #1f1414;
  cursor: pointer;
}

.sidebar li:hover {
  color: #007bff; /* Highlight color on hover */
}

/* admin.module.css */

.sidebar ul {
list-style-type: none;
padding: 0;
}

.sidebar li {
margin: 10px 0;
}

.sidebar a {
color: black;
text-decoration: none;
transition: color 0.3s;
}

.sidebar a:hover {
color: green; /* Hover color */
}

.activeLink {
color: green; /* Active link color */
font-weight: bold; /* Optional: Make the active link bold */
}